# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
attrs=20.3.0=pypi_0
automat=20.2.0=pypi_0
ca-certificates=2021.1.19=h06a4308_1
certifi=2020.12.5=py37h06a4308_0
cffi=1.14.5=pypi_0
charset-normalizer=2.0.4=pypi_0
constantly=15.1.0=pypi_0
cryptography=3.4.6=pypi_0
cssselect=1.1.0=pypi_0
dateparser=1.0.0=pypi_0
greenlet=1.0.0=pypi_0
hyperlink=21.0.0=pypi_0
idna=3.1=pypi_0
importlib-metadata=3.7.3=pypi_0
incremental=21.3.0=pypi_0
itemadapter=0.2.0=pypi_0
itemloaders=1.0.4=pypi_0
jmespath=0.10.0=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
lxml=4.6.2=pypi_0
ncurses=6.2=he6710b0_1
openssl=1.1.1j=h27cfd23_0
parsel=1.6.0=pypi_0
pillow=8.1.2=pypi_0
pip=21.0.1=py37h06a4308_0
protego=0.1.16=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pypi_0
pydispatcher=2.0.5=pypi_0
pyopenssl=20.0.1=pypi_0
python=3.7.10=hdb3f193_0
python-dateutil=2.8.1=pypi_0
pytz=2021.1=pypi_0
queuelib=1.5.0=pypi_0
readline=8.1=h27cfd23_0
regex=2020.11.13=pypi_0
requests=2.26.0=pypi_0
scrapy=2.4.1=pypi_0
scrapyd=1.2.1=pypi_0
scrapyd-client=1.2.0a1=pypi_0
service-identity=18.1.0=pypi_0
setuptools=52.0.0=py37h06a4308_0
six=1.15.0=pypi_0
sqlalchemy=1.4.0=pypi_0
sqlite=3.33.0=h62c20be_0
tk=8.6.10=hbc83047_0
twisted=21.2.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
tzlocal=2.1=pypi_0
urllib3=1.26.6=pypi_0
w3lib=1.22.0=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
xz=5.2.5=h7b6447c_0
zipp=3.4.1=pypi_0
zlib=1.2.11=h7b6447c_3
zope-interface=5.2.0=pypi_0
